<hr style="border:5px solid #108999"> </hr>

# Working-with-Text-Files-Lectures <hr style="border:4.5px solid #108999"> </hr>

## Importing Text Files in Python ( open() )

In [ ]:
filename = "source.txt"

In [ ]:
filename

In [ ]:
file = open(filename, mode = 'r')

In [ ]:
file

In [ ]:
file.read()

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
text

In [ ]:
file.closed

In [ ]:
file.close()

In [ ]:
file.closed

In [ ]:
print(text)

## Importing Text Files in Python ( with open() )

In [ ]:
filename = 'source.txt'

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
file.close()

In [ ]:
with open(filename, mode = "r") as out_file:
    out_file.read()

In [ ]:
print(text)

In [ ]:
print(out_file)

In [ ]:
with open('source.txt', 'w') as out_file:
    out_file.write("It is not so simple anymore!")

In [ ]:
print(out_file)

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
file.close()

In [ ]:
print(text)

In [ ]:
with open(filename, mode = "r") as out_file:
    new_text = out_file.read()
print(new_text)

## Importing *.csv Files with pandas - Part I & II

In [ ]:
filename = 'Lending-company.csv'

file = open(filename, mode = 'r')
text = file.read()
text

In [ ]:
type(text)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('Lending-company.csv')
#pd.read_csv('Lending-company.csv', header = 0)
#pd.read_csv('Lending-company.csv', header = 5)

In [ ]:
type(pd.read_csv('Lending-company.csv'))

## Importing *.csv Files with pandas - Part III

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data

In [ ]:
type(my_csv_data)

In [ ]:
print(my_csv_data)

## Importing Data with the index_col Parameter

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename, index_col = 'LoanID')
my_csv_data

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

## Importing Data with NumPy - np.loadtxt() vs np.genfromtxt()

In [ ]:
import numpy as np

In [ ]:
lending_co_data_numeric_1 = np.loadtxt("Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric_1

# We can use Notepad++ to determine delimiters

In [ ]:
lending_co_data_numeric_2 = np.genfromtxt("Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric_2

In [ ]:
np.array_equal(lending_co_data_numeric_1, lending_co_data_numeric_2)

## np.array_equal() compares two (or more) arrays and tells us if whether they're identical

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')
lending_co_data_numeric_NAN

# np.loadtxt() fails to import incomplete datasets by default

In [ ]:
lending_co_data_numeric_NAN = np.loadtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                         delimiter = ';',
                                         dtype = np.str)
lending_co_data_numeric_NAN

# If we import all the values as text, then we don't get a type inconcsistency, so we can use np.loadtxt()

In [ ]:
lending_co_data_numeric_NAN[0,0] + lending_co_data_numeric_NAN[0,1]

# Adding '2000' and '40' results in a concatenated '200040' rather than 2040.

## Importing Data with NumPy - Partial Cleaning While Importing

In [ ]:
import numpy as np

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", delimiter = ';') 
lending_co_data_numeric_NAN

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            skip_header = 2) 
lending_co_data_numeric_NAN

# skip_header omits lines from the top of the text file

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            skip_footer = 2) 
lending_co_data_numeric_NAN

# skip_footer omits lines from the bottom of the text file

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            usecols = (5,0,1)) 
lending_co_data_numeric_NAN

# use_cols tells the function to only take the following columns based on their indices.

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            usecols = (5,0,1), 
                                            skip_header = 2, 
                                            skip_footer = 2) 
lending_co_data_numeric_NAN

# We can define all these arguments (and many more) together to only import what we want.

In [ ]:
lending_co_data_5, lending_co_data_0, lending_co_data_1 = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                                                        delimiter = ';',
                                                                        usecols = (5,0,1), 
                                                                        skip_header = 2, 
                                                                        skip_footer = 2, 
                                                                        unpack = True)
print(lending_co_data_5)
print(lending_co_data_0)
print(lending_co_data_1)

# Unpacking allows us to split the output array into smaller 1-D arrays.

## Importing *.json Files

In [1]:
prices_per_product = '{"Product A": 22250, "Product B" : 16600, "Product C":15600}'
prices_per_product

'{"Product A": 22250, "Product B" : 16600, "Product C":15600}'

In [2]:
type(prices_per_product)

str

In [3]:
import json

In [4]:
parsed_str = json.loads(prices_per_product)
parsed_str

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [5]:
type(parsed_str)

dict

In [6]:
import pandas as pd

In [9]:
pd.read_json('L17/Lending-company.json')

,Loan ID,String_ID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDays,AmountPaid30,AmountPaid60,AmountPaid360,LoanStatus360
0,1,id_1,Product B,Male,Location 2,Region 2,16600,7/4/2014,2000,40,365,3121,4241,13621,Active
1,2,id_2,Product B,Male,Location 3,Region 3,16600,1/2/2015,2000,40,365,3061,4171,15041,Active
2,3,id_3,Product C,Female,Location 5,Region 5,15600,12/8/2012,1000,40,365,2160,3280,15340,None
3,4,id_4,Product B,Male,Location 6,Region 1,16600,2/20/2015,2000,40,365,3041,4241,15321,Active
4,5,id_5,Product D,Female,Location 7,Region 2,20250,10/28/2013,2000,50,365,3470,4820,13720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,id_1039,Product B,Female,Location 39,Region 6,16600,12/29/2014,2000,40,365,3401,4601,16600,Finished Payment
1039,1040,id_1040,Product B,Male,Location 50,Region 1,16600,3/28/2014,2000,40,365,4240,5440,16600,Finished Payment
1040,1041,id_1041,Product B,Male,Location 23,Region 4,16600,4/26/2014,2000,40,365,4201,5001,16600,Finished Payment
1041,1042,id_1042,Product C,NotSpecified,Location 52,Region 6,15600,10/25/2012,1000,40,365,2080,3320,15600,Finished Payment
1042,1043,id_1043,Product B,Female,Location 142,Region 6,16600,5/15/2015,2000,40,365,4601,4601,16600,Finished Payment

In [10]:
new_csv_data = pd.read_json('L17/Lending-company.json')
new_csv_data

,Loan ID,String_ID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDays,AmountPaid30,AmountPaid60,AmountPaid360,LoanStatus360
0,1,id_1,Product B,Male,Location 2,Region 2,16600,7/4/2014,2000,40,365,3121,4241,13621,Active
1,2,id_2,Product B,Male,Location 3,Region 3,16600,1/2/2015,2000,40,365,3061,4171,15041,Active
2,3,id_3,Product C,Female,Location 5,Region 5,15600,12/8/2012,1000,40,365,2160,3280,15340,None
3,4,id_4,Product B,Male,Location 6,Region 1,16600,2/20/2015,2000,40,365,3041,4241,15321,Active
4,5,id_5,Product D,Female,Location 7,Region 2,20250,10/28/2013,2000,50,365,3470,4820,13720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,id_1039,Product B,Female,Location 39,Region 6,16600,12/29/2014,2000,40,365,3401,4601,16600,Finished Payment
1039,1040,id_1040,Product B,Male,Location 50,Region 1,16600,3/28/2014,2000,40,365,4240,5440,16600,Finished Payment
1040,1041,id_1041,Product B,Male,Location 23,Region 4,16600,4/26/2014,2000,40,365,4201,5001,16600,Finished Payment
1041,1042,id_1042,Product C,NotSpecified,Location 52,Region 6,15600,10/25/2012,1000,40,365,2080,3320,15600,Finished Payment
1042,1043,id_1043,Product B,Female,Location 142,Region 6,16600,5/15/2015,2000,40,365,4601,4601,16600,Finished Payment

In [11]:
type(new_csv_data)

pandas.core.frame.DataFrame

## Working with Excel Data (the *.xlsx Format)

In [12]:
import pandas as pd

In [13]:
filename = 'Lending-company.xlsx'
my_xlsx_data = pd.read_excel(filename)
# my_csv_data = pd.read_excel(filename, index_col = 'LoanID')
my_xlsx_data

FileNotFoundError: [Errno 2] No such file or directory: 'Lending-company.xlsx'

In [14]:
type(my_xlsx_data)

NameError: name 'my_xlsx_data' is not defined

## An Important Exercise on Importing data in Python

In [ ]:
import pandas as pd

In [ ]:
location_data = pd.read_csv('Lending-company.csv',  usecols = ['StringID', 'Location', 'Region'], index_col = 'StringID')
location_data.head()

In [ ]:
filename = 'Lending-company-single-column-data.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, sep = '\,')
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, sep = '\,', engine = 'python')
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, delimiter = '\,', engine = 'python')
my_csv_data.head()

## Importing Data with the pandas' "squeeze" Parameter

In [ ]:
import pandas as pd

In [ ]:
my_df = pd.read_csv('Lending-company.csv')
my_df.head()

In [ ]:
type(my_df)

In [ ]:
df_usecols = pd.read_csv('Lending-company.csv', usecols = ['Product'])
df_usecols.head()

In [ ]:
type(df_usecols)

In [ ]:
df_single_col = pd.read_csv('Customer-Gender.csv')
df_single_col.head()

In [ ]:
type(df_single_col)

In [ ]:
df_squeeze = pd.read_csv('Lending-company.csv', squeeze = True)
df_squeeze

In [ ]:
type(df_squeeze)

In [ ]:
df_squeeze = pd.read_csv('Lending-company.csv', usecols = ['Product'], squeeze = True)
df_squeeze

In [ ]:
type(df_squeeze)

In [ ]:
df_single_col = pd.read_csv('Customer-Gender.csv', squeeze = True)
df_single_col.head()

In [ ]:
type(df_single_col)

## A Note on Importing Files in Jupyter

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('Lending-company.csv')

In [ ]:
pd.read_csv('C:/Text-Files/Lending-company.csv')

In [ ]:
import os, inspect

In [ ]:
if '__file__' not in locals():
    fx = inspect.getframeinfo(inspect.currentframe())[0]
else:
    fx = __file__

In [ ]:
os_dir = os.path.dirname(os.path.abspath(fx))
print(os_dir)

In [ ]:
pd.read_csv(os.path.join(os_dir,"Lending-company.csv"))

## Saving your Data

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.csv'
my_data = pd.read_csv(filename)
my_data.head()

In [ ]:
my_data.to_csv('my-csv-file.csv')

In [ ]:
my_data.to_json('my-json-file.json')

In [ ]:
my_data.to_excel('my-excel-file.xlsx')

In [ ]:
my_data.to_excel('my-excel-file.xlsx', index=False)

## Saving Files with NumPy - np.save()

In [ ]:
import numpy as np

In [ ]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv", 
                           delimiter = ',', 
                           dtype = np.str)

print(lending_co)

## We're just importing a dataset, so we can save it later. 
## Usually, we will be working with an array already, so we could skip this.

In [ ]:
np.save("Lending-Company-Saving", lending_co)

## Create an .npy file with the data from the lending_co array.

In [ ]:
lending_data_save = np.load("Lending-Company-Saving.npy")

## Load the NPY file we just created. (Load =/= Import in this case)

In [ ]:
print(lending_data_save)

In [ ]:
np.array_equal(lending_data_save, lending_co)

# The original array is identical to the one we saved and then loaded back into Python.

## Saving Files with NumPy - np.savez()

In [ ]:
import numpy as np

In [ ]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv", 
                           delimiter = ',',
                           dtype = np.str) 

lending_data_save = np.load('Lending-Company-Saving.npy') 

# Just getting two arrays we want to store (we import one, and load the other)

In [ ]:
np.savez("Lending-Company-Saving", lending_co, lending_data_save)

# Creates the .npz file, which is an archive of .npy files.

In [ ]:
lending_data_savez = np.load('Lending-Company-Saving.npz')

# We also load .npz files.

In [ ]:
print(lending_data_savez["arr_1"])

# np.savez() assigns default names to each .npy inside the archive.

In [ ]:
np.savez("Lending-Company-Saving", company = lending_co, data_save = lending_data_save) 

# Assign custom recognizable names to the individual .npy files in the .npz

In [ ]:
lending_data_savez = np.load("Lending-Company-Saving.npz")

In [ ]:
lending_data_savez.files

# Shows the names of all the .npy files stored in the .npz

In [ ]:
print(lending_data_savez["data_save"])

In [ ]:
np.array_equal(lending_data_savez["company"],lending_data_savez["data_save"])

# Even after saving and loading the datasets back into Python, they are still identical.

## Saving Files with NumPy - np.savetxt()

In [ ]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv",
                           delimiter = ',',
                           dtype = np.str)

In [ ]:
np.savetxt("Lending-Company-Saving.txt", 
           lending_co, 
           fmt = '%s', 
           delimiter = ',')

# We must specify the file extension (txt or csv).
# We must specify the format (strings in this case).
# We must set a delimiter (comma in this case).

In [ ]:
lending_data_savetxt = np.genfromtxt("Lending-Company-Saving.txt", 
                                     delimiter = ',', 
                                     dtype = np.str)

print(lending_data_savetxt)

# We're importing the .txt file we just created.

In [ ]:
lending_data_save = np.load("Lending-Company-Saving.npy")

In [ ]:
np.array_equal(lending_data_savetxt, lending_data_save)