<hr style="border:5px solid #108999"> </hr>

# Must Know Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [1]:
range(10)

range(0, 10)

In [2]:
range(10,10)

range(10, 10)

Turn this 'range' object into a list of values.

In [13]:
a = [*range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [15]:
for i in range(10):
    print(i, end= " ")

0 1 2 3 4 5 6 7 8 9

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [16]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [21]:
a = []
for i in products_on_sale:
    for j in sale_prices:
        print([i,j])
        a.append([i,j])

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

In [18]:
import pandas as pd

In [30]:
df = pd.DataFrame(a)
df.columns = ['products_on_sale', 'sale_prices']
df

   products_on_sale  sale_prices
0      Chair_Type_1          100
1      Chair_Type_1          120
2      Chair_Type_1          135
3      Chair_Type_1          150
4      Chair_Type_2          100
5      Chair_Type_2          120
6      Chair_Type_2          135
7      Chair_Type_2          150
8      Chair_Type_3          100
9      Chair_Type_3          120
10     Chair_Type_3          135
11     Chair_Type_3          150
12     Chair_Type_4          100
13     Chair_Type_4          120
14     Chair_Type_4          135
15     Chair_Type_4          150

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [31]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [36]:
b = []
for prod in products_on_sale:
    for sale in sale_prices:
        for no in quantities:
            print([prod,no, sale, sale * no])
            b.append([prod,no, sale, sale * no])

['Chair_Type_1', 1000, 100, 100000]
['Chair_Type_1', 1500, 100, 150000]
['Chair_Type_1', 1300, 100, 130000]
['Chair_Type_1', 1000, 120, 120000]
['Chair_Type_1', 1500, 120, 180000]
['Chair_Type_1', 1300, 120, 156000]
['Chair_Type_1', 1000, 135, 135000]
['Chair_Type_1', 1500, 135, 202500]
['Chair_Type_1', 1300, 135, 175500]
['Chair_Type_1', 1000, 150, 150000]
['Chair_Type_1', 1500, 150, 225000]
['Chair_Type_1', 1300, 150, 195000]
['Chair_Type_2', 1000, 100, 100000]
['Chair_Type_2', 1500, 100, 150000]
['Chair_Type_2', 1300, 100, 130000]
['Chair_Type_2', 1000, 120, 120000]
['Chair_Type_2', 1500, 120, 180000]
['Chair_Type_2', 1300, 120, 156000]
['Chair_Type_2', 1000, 135, 135000]
['Chair_Type_2', 1500, 135, 202500]
['Chair_Type_2', 1300, 135, 175500]
['Chair_Type_2', 1000, 150, 150000]
['Chair_Type_2', 1500, 150, 225000]
['Chair_Type_2', 1300, 150, 195000]
['Chair_Type_3', 1000, 100, 100000]
['Chair_Type_3', 1500, 100, 150000]
['Chair_Type_3', 1300, 100, 130000]
['Chair_Type_3', 1000, 120, 120000]
['Chair_Type_3', 1500, 120, 180000]
['Chair_Type_3', 1300, 120, 156000]
['Chair_Type_3', 1000, 135, 135000]
['Chair_Type_3', 1500, 135, 202500]
['Chair_Type_3', 1300, 135, 175500]
['Chair_Type_3', 1000, 150, 150000]
['Chair_Type_3', 1500, 150, 225000]
['Chair_Type_3', 1300, 150, 195000]
['Chair_Type_4', 1000, 100, 100000]
['Chair_Type_4', 1500, 100, 150000]
['Chair_Type_4', 1300, 100, 130000]
['Chair_Type_4', 1000, 120, 120000]
['Chair_Type_4', 1500, 120, 180000]
['Chair_Type_4', 1300, 120, 156000]
['Chair_Type_4', 1000, 135, 135000]
['Chair_Type_4', 1500, 135, 202500]
['Chair_Type_4', 1300, 135, 175500]
['Chair_Type_4', 1000, 150, 150000]
['Chair_Type_4', 1500, 150, 225000]
['Chair_Type_4', 1300, 150, 195000]

In [37]:
df1 = pd.DataFrame(b)
df1.columns = ['products_on_sale', 'sale_prices','quantities','revenue']
df1

   products_on_sale  sale_prices  quantities  revenue
0      Chair_Type_1         1000         100   100000
1      Chair_Type_1         1500         100   150000
2      Chair_Type_1         1300         100   130000
3      Chair_Type_1         1000         120   120000
4      Chair_Type_1         1500         120   180000
5      Chair_Type_1         1300         120   156000
6      Chair_Type_1         1000         135   135000
7      Chair_Type_1         1500         135   202500
8      Chair_Type_1         1300         135   175500
9      Chair_Type_1         1000         150   150000
10     Chair_Type_1         1500         150   225000
11     Chair_Type_1         1300         150   195000
12     Chair_Type_2         1000         100   100000
13     Chair_Type_2         1500         100   150000
14     Chair_Type_2         1300         100   130000
15     Chair_Type_2         1000         120   120000
16     Chair_Type_2         1500         120   180000
17     Chair_Type_2         1300         120   156000
18     Chair_Type_2         1000         135   135000
19     Chair_Type_2         1500         135   202500
20     Chair_Type_2         1300         135   175500
21     Chair_Type_2         1000         150   150000
22     Chair_Type_2         1500         150   225000
23     Chair_Type_2         1300         150   195000
24     Chair_Type_3         1000         100   100000
25     Chair_Type_3         1500         100   150000
26     Chair_Type_3         1300         100   130000
27     Chair_Type_3         1000         120   120000
28     Chair_Type_3         1500         120   180000
29     Chair_Type_3         1300         120   156000
30     Chair_Type_3         1000         135   135000
31     Chair_Type_3         1500         135   202500
32     Chair_Type_3         1300         135   175500
33     Chair_Type_3         1000         150   150000
34     Chair_Type_3         1500         150   225000
35     Chair_Type_3         1300         150   195000
36     Chair_Type_4         1000         100   100000
37     Chair_Type_4         1500         100   150000
38     Chair_Type_4         1300         100   130000
39     Chair_Type_4         1000         120   120000
40     Chair_Type_4         1500         120   180000
41     Chair_Type_4         1300         120   156000
42     Chair_Type_4         1000         135   135000
43     Chair_Type_4         1500         135   202500
44     Chair_Type_4         1300         135   175500
45     Chair_Type_4         1000         150   150000
46     Chair_Type_4         1500         150   225000
47     Chair_Type_4         1300         150   195000

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [38]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [39]:
sales_revenue = [[chair_type, price*quantity] for chair_type in products_on_sale for price in sale_prices for quantity in quantities]

In [40]:
sales_revenue

[['Chair_Type_1', 100000],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 130000],
 ['Chair_Type_1', 120000],
 ['Chair_Type_1', 180000],
 ['Chair_Type_1', 156000],
 ['Chair_Type_1', 135000],
 ['Chair_Type_1', 202500],
 ['Chair_Type_1', 175500],
 ['Chair_Type_1', 150000],
 ['Chair_Type_1', 225000],
 ['Chair_Type_1', 195000],
 ['Chair_Type_2', 100000],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 130000],
 ['Chair_Type_2', 120000],
 ['Chair_Type_2', 180000],
 ['Chair_Type_2', 156000],
 ['Chair_Type_2', 135000],
 ['Chair_Type_2', 202500],
 ['Chair_Type_2', 175500],
 ['Chair_Type_2', 150000],
 ['Chair_Type_2', 225000],
 ['Chair_Type_2', 195000],
 ['Chair_Type_3', 100000],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 130000],
 ['Chair_Type_3', 120000],
 ['Chair_Type_3', 180000],
 ['Chair_Type_3', 156000],
 ['Chair_Type_3', 135000],
 ['Chair_Type_3', 202500],
 ['Chair_Type_3', 175500],
 ['Chair_Type_3', 150000],
 ['Chair_Type_3', 225000],
 ['Chair_Type_3', 195000],
 ['Chair_Type_4', 100000],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 130000],
 ['Chair_Type_4', 120000],
 ['Chair_Type_4', 180000],
 ['Chair_Type_4', 156000],
 ['Chair_Type_4', 135000],
 ['Chair_Type_4', 202500],
 ['Chair_Type_4', 175500],
 ['Chair_Type_4', 150000],
 ['Chair_Type_4', 225000],
 ['Chair_Type_4', 195000]]

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [42]:
[i * 10 for i in range(11) if i%2 == 0]

[0, 20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

In [51]:
l = []
for i in range(11):
    if i%2 == 0:
        l.append(i * 10)
print(l)

[0, 20, 40, 60, 80, 100]

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [52]:
[i * 10 if i%2 == 0 else "None" for i in range(1,11)]

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 13.